{% extends "QuotazioUserBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
    <h1>Available demos</h1>
    <ul id="demo-list">
        <li><a href="{{ path('_user_hello', {'name': 'World'}) }}">Hello World</a></li>
        <li><a href="{{ path('_user_secured_hello', {'name': 'World'}) }}">Access the secured area</a> <a href="{{ path('_user_login') }}">Go to the login page</a></li>
        {# <li><a href="{{ path('_user_contact') }}">Send a Message</a></li> #}
    </ul>
{% endblock %}
